.employeesDepartment {
  background: #fff;
  min-width: 60%;
  margin: 1% 2% 1% 2%;
  border-radius: 25px;
  padding: 5px 10px;
}

.employeesDepartment__header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

