.departmentModule {
  width: 100%;
  background: #fff;
  margin: 1% 2%;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1em;
  padding: 10px 20px;
}

.departmentModule__header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.departmentModule__header__title {
  font-size: 1.3rem;
  font-weight: 600;
}

.departmentModuleTable {
  border-spacing: 0;
  width: 95%;
  padding: 10px;
  margin: 5px 2.5% 15px 2.5%;
  border: none;
}
.departmentModuleTable__title {
  padding: 10px 5px 20px 5px;
  font-size: 1rem;
}

.departmentModuleTable__text__name {
  padding: 10px 15px;
  font-size: 0.8rem;
  text-align: start;
  width: 20%;
  border-radius: 10px 0 0 10px;
  border: none;
}

.departmentModuleTable__text__data {
  padding: 10px 15px;
  font-size: 0.8rem;
  width: 15%;
  text-align: center;
}

.departmentModuleTable__text__head {
  padding: 10px 15px;
  font-size: 0.8rem;
  width: 17.5%;
  text-align: start;
}

.departmentModuleTable__text__amount {
  padding: 10px 15px;
  font-size: 0.8rem;
  width: 15%;
  text-align: center;
}

.departmentModuleTable__text__description {
  padding: 10px 15px;
  font-size: 0.8rem;
  width: 32.5%;
  text-align: start;
  border-radius: 0 10px 10px 0;
  border: none;
}
.departmentModuleTable__title {
  font-size: 1.1rem;
  font-weight: 500;
}
.departmentModuleTable__row {
  box-shadow: 0 1px #ddd;
}
.departmentModuleTable__row:hover .departmentModuleTable__text__amount, 
.departmentModuleTable__row:hover .departmentModuleTable__text__description, 
.departmentModuleTable__row:hover .departmentModuleTable__text__head,
.departmentModuleTable__row:hover .departmentModuleTable__text__data,
.departmentModuleTable__row:hover .departmentModuleTable__text__name {
  background-color: #3a7fee;
  color: #fff;
  cursor: pointer;
}


.deleteBtn {
  background: none; 
  padding: 10px 15px;
  font-size: 0.8rem;
}



 


.departmentModuleTable__row:hover .deleteBtn {
  background: none;
  color: rgb(8, 44, 200);
  cursor: pointer;
}
