@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --blue: #3a7fee;
  --white: #fff;
  --grey: #ece9e9;
  --black: #222;
  --darkgray: #929292;
  --transition: all 0.3s linear;
}
body {
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--grey);
}
.App {
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

.sidebar {
  position: fixed;
  width: 18%;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: var(--transition);
  overflow: hidden;
}

.sidebar-list{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar-list__item{
  position: relative;
  list-style: none;
  padding: 5px 0 5px 10px;
  width: 100%;
}

.sidebar-list__headItem {
  padding: 5px 0 5px 10px;
  padding-bottom: 60px;
  list-style: none;
  pointer-events: none;
  display: flex;
}

.sidebar .close-btn {
  position: fixed;

  display: none;
  background: none;
  font-size: 1.5em;
  color: var(--black);
  border: none;
  cursor: pointer;
  pointer-events: all;
}

.sidebar-list__link {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  font-size: 1.2em;
  white-space: normal;
}

.sidebar-list__item:hover .sidebar-list__link {
  color: #17fcac;
}

.sidebar .sidebar-list .sidebar-list__item._active {
  background: var(--grey);
  border-radius: 20px 0 0 20px;
}

.sidebar-list__item._active .sidebar-list__link {
  color: var(--blue);
}
.sidebar-list__item._active .sidebar-list__link::before {
  content: "";
  position: absolute;
  right: 0;
  top: -55px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 35px 35px 0 10px var(--grey);
  pointer-events: none;
}

.sidebar-list__item._active .sidebar-list__link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -55px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--grey);
  pointer-events: none;
}

.content-container {
  position: relative;
  left: 18%;
  max-width: 82%;
  min-height: 100%;
  transition: var(--transition);
  background: var(--grey);
}

.navbar {
  display: flex;
  min-height: 8%;
  width: 100%;
  background: var(--gray);
  transition: 0.5s;
}

.navbar .btn-sidebar {
  position: relative;
  margin: 10px 0 0 2%;
  font-size: 1em;
  background: none;
  border: none;
  color: var(--black);
  cursor: pointer;
  transition: 0.5s;
}

.navbar .search {
  position: relative;
  margin: auto;
  min-width: 400px;
  min-height: 30px;
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid #222;
  outline: none;
}

.navbar .img-avatar {
  width: 50px;
  height: 50px;
  font-size: 0.7em;
  border-radius: 50%;
  margin: 10px 2% 0 0;
}

.dashboard {
  display: flex;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  display: flex;
}

.departments-wrapper {
  width: 75%;
}

.department-info {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-width: 20%;
  margin: 1% 2% 1% 2%;
  border-radius: 25px;
  padding: 5px 10px;
}

.employeesDepartment {
  background: #fff;
  min-width: 60%;
  margin: 1% 2% 1% 2%;
  border-radius: 25px;
  padding: 5px 10px;
}

.employeesDepartment__header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
